* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://64.media.tumblr.com/70c18d3c67bf5e04c3353c64cc272cdd/tumblr_ogqjf3zujT1vxw3g6o1_500.gifv");
  background-color: #000000;
  background-size: cover;
  background-position: center-bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: white;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.span-edit {
  background-color: #da1e26;
  color: #ffffff;
}

.page-subtitle {
  color: #ffffff;
  font-size: 20px;
  margin-top: 5px;
}

.adicionar-jogo {
  margin: 0 auto;
  padding: 10px 15px;
}

#buttons {
  display: block;
  margin: 5px auto;
}

button {
  width: 130px;
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
  border: 2px black;
  color: white;
  background: #da1e26;
}

.input-edit {
  width: 300px;
  margin-top: 10px;
  height: 35px;
  border-radius: 20px;
  border: 2px black;
  background: white;
  text-align: center;
  color: black;
}

button:hover {
  opacity: 0.8;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#jogos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  color: #fff;
}

.jogo > img {
  margin: 0;
}

img {
  max-height: 450px;
  margin: 15px;
}